@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Lato'), url(/fonts/lato-regular.woff) format('woff');
}

body {
  @apply antialiased scroll-smooth;
  text-rendering: optimizeLegibility;
  font-family: Lato;
  background-color: #303030;
}
